@font-face {
	font-family: 'Recharge Bold';
	src: local('Recharge Bold'),
		url('../../../assets/recharge.bold.ttf') format('truetype');
}

section.Banner {
	position: relative;
	text-align: center;
	margin-top: 0%;

	.parallax {
		/* The image used */
		background-image: url('../../../assets/banner.webp');

		/* Set a specific height */
		min-height: 100vh;

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.banner-center {
		font-family: 'Recharge Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI',
			Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
			sans-serif;
		font-weight: bold;
		color: white;
		font-size: 6vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.banner-text {
		margin-top: 4vh;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
			Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: regular;
		font-size: 4vh;
		color: white;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media only screen and (max-width: 600px) {
		.banner-center {
			font-size: 5vh;
		}

		.banner-text {
			font-size: 2.5vh;
		}
	}
}
