.about-us-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../assets/about.webp");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secretaries-image {
  width: 50vw;
}

.team-image {
  width: 80vw;
}

@media only screen and (max-width: 768px) {
  .secretaries-image {
    width: 80vw;
  }
}
