<body>
  <p>
    Hi <%= username %>, We have received a request to reset the password for
    your account. If you made this request, please click on the link below or
    paste this into your browser to complete the process:
  </p>
  <p>
    Click on this <a href="<%= link %>">link</a> to reset your password. This
    link is valid only for an hour.
  </p>
  <p>If you did not initiate this, you can safely ignore this mail.</p>
  <br />
  <p>
    Regards, <br /><b
      ><span style="color: #52b107">C</span>ommunity Of
      <span style="color: #52b107">C</span>oders</b
    >
  </p>
</body>
