.navbar {
  padding: 5%;
  /*overflow: hidden;*/
  background-color: #0d0d0d;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #f2f2f2;
  font-family: "Titillium Web", sans-serif;
}

.navbar a:hover {
  color: green;
  text-decoration: none;
}


