<p style="text-align: justify">
    Regards, <br /><b
        ><span style="color: #52b107">C</span>ommunity Of
        <span style="color: #52b107">C</span>oders
    </b>
</p>
<div class="line"></div>
