<header
    style="
        background: #000000;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    "
>
    <div id="logo" style="max-width: 500px; margin: 2% 0 0 5%">
        <img
            src="https://res.cloudinary.com/dw2ejcbvt/image/upload/v1609946419/qq_suisct.png"
            style="max-width: 100%; margin-top: 2%"
        />
    </div>
</header>
